/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .superawesome { background-color: #F7464A; }
.legend .awesome { background-color: #46BFBD; }
.legend .kindaawesome { background-color: #FDB45C; }
.legend .notawesome { background-color: #FDB45C; }
/* line 6, ../../../sass/sass/main.scss */
/* line 6, ../../../sass/sass/main.scss */
body {
  background-color: #dadada;
}

/* line 10, ../../../sass/sass/main.scss */
.btn {
  font-weight: bold;
}

/* line 14, ../../../sass/sass/main.scss */
.container-fluid {
  margin-left: 0px;
  padding-left: 0px;
}

/* line 19, ../../../sass/sass/main.scss */
.no-block {
  display: inline;
  width: auto;
}

/* line 24, ../../../sass/sass/main.scss */
.no-show {
  display: none !important;
}

/* line 28, ../../../sass/sass/main.scss */
.search input {
  height: 33px;
}

/* line 32, ../../../sass/sass/main.scss */
.panel-group .panel {
  border-radius: 0px;
  border: 1px none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Space out content a bit */
/* line 39, ../../../sass/sass/main.scss */
body, .MainBody, html, .container-fluid {
  min-height: 100% !important;
  height: 100% !important;
}

/* line 44, ../../../sass/sass/main.scss */
#top-bar {
  position: relative;
  background-color: #8DC63F;
  padding: 10px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 1010 !important;
}
/* line 51, ../../../sass/sass/main.scss */
#top-bar .nav-inline {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
/* line 52, ../../../sass/sass/main.scss */
#top-bar .nav-inline > li {
  display: inline;
  float: left;
  margin-right: 5px;
}

/* line 55, ../../../sass/sass/main.scss */
.heading {
  margin-bottom: 25px;
  z-index: 1001 !important;
  background-color: #9A8B7D;
  padding: 10px 0px;
}
/* line 60, ../../../sass/sass/main.scss */
.heading a {
  color: #ffffff;
}

/* line 65, ../../../sass/sass/main.scss */
.dropdown-menu, .animation {
  -webkit-transition: ease-out .25s;
  -moz-transition: ease-out .25s;
  -o-transition: ease-out .25s;
  transition: ease-out .25s;
}

/* line 72, ../../../sass/sass/main.scss */
.dropdown-menu, .dropdown-menu li, .dropdown-menu li a {
  z-index: 1001 !important;
}

/* line 76, ../../../sass/sass/main.scss */
.dropdown-menu li a {
  cursor: pointer;
}

/* Custom page footer */
/* line 81, ../../../sass/sass/main.scss */
.footer {
  padding-top: 19px;
  color: #777;
  z-index: 90 !important;
}

/* line 87, ../../../sass/sass/main.scss */
.leftPaneWrapper {
  height: 100%;
  background-color: #333333;
  background: #444444;
  /* Old browsers */
  background: -moz-linear-gradient(left, #444444 7%, #333333 99%, #333333 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(7%, #444444), color-stop(99%, #333333), color-stop(99%, #333333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #444444 7%, #333333 99%, #333333 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #444444 7%, #333333 99%, #333333 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #444444 7%, #333333 99%, #333333 99%);
  /* IE10+ */
  background: linear-gradient(to right, #444444 7%, #333333 99%, #333333 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=1 );
  /* IE6-9 */
}

/* line 100, ../../../sass/sass/main.scss */
#LeftPane {
  color: #dadada;
  padding-top: 10px;
  min-height: 100%;
  overflow: hidden;
}
/* line 105, ../../../sass/sass/main.scss */
#LeftPane h3 {
  padding: 0px 10px 10px 10px;
}
/* line 108, ../../../sass/sass/main.scss */
#LeftPane p {
  font-size: 16px;
  padding: 8px 3px;
  margin: 0px;
  color: #dadada;
  -webkit-transition: ease-out .25s;
  -moz-transition: ease-out .25s;
  -o-transition: ease-out .25s;
  transition: ease-out .25s;
  white-space: nowrap;
  overflow: hidden;
}
/* line 120, ../../../sass/sass/main.scss */
#LeftPane p:hover {
  color: #ffffff;
}
/* line 124, ../../../sass/sass/main.scss */
#LeftPane p span.suite-name {
  cursor: pointer;
}
/* line 128, ../../../sass/sass/main.scss */
#LeftPane .top-tier {
  padding-top: 10px;
}
/* line 132, ../../../sass/sass/main.scss */
#LeftPane .nav .nav {
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out .5s;
  overflow: hidden;
}
/* line 140, ../../../sass/sass/main.scss */
#LeftPane .up .nav, #LeftPane .down .nav .up .nav {
  max-height: 0px;
}
/* line 144, ../../../sass/sass/main.scss */
#LeftPane .down .nav {
  max-height: 100%;
}
/* line 148, ../../../sass/sass/main.scss */
#LeftPane p .glyphicon {
  color: #999999;
  margin-left: 8px;
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out .5s;
}
/* line 156, ../../../sass/sass/main.scss */
#LeftPane .controls {
  margin-right: 8px;
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out .5s;
}
/* line 162, ../../../sass/sass/main.scss */
#LeftPane .controls .onlyHover {
  width: 0px;
  overflow: hidden;
  margin-left: 0px;
}
/* line 169, ../../../sass/sass/main.scss */
#LeftPane p:hover .controls .onlyHover {
  width: auto;
  margin-left: 8px;
}
/* line 174, ../../../sass/sass/main.scss */
#LeftPane p .hoverable {
  color: #cccccc;
}
/* line 177, ../../../sass/sass/main.scss */
#LeftPane p .hoverable:hover {
  color: #ffffff;
  cursor: pointer;
}
/* line 182, ../../../sass/sass/main.scss */
#LeftPane li {
  padding: 0px;
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out .5s;
}
/* line 190, ../../../sass/sass/main.scss */
#LeftPane li.active > div > p, #LeftPane li:hover > div > p:hover, #LeftPane li.active > p, #LeftPane li:hover > p:hover {
  background-color: #111111;
  cursor: move;
}
/* line 195, ../../../sass/sass/main.scss */
#LeftPane .label {
  margin-right: 5px;
}
/* line 198, ../../../sass/sass/main.scss */
#LeftPane .form-control {
  display: inline;
  width: 250px;
  border: 1px solid #666;
  background-color: #333;
  color: #ccc;
  border-radius: 0px;
  margin: 0px 5px;
  -webkit-transition: ease-out .25s;
  -moz-transition: ease-out .25s;
  -o-transition: ease-out .25s;
  transition: ease-out .25s;
  resize: none;
}
/* line 213, ../../../sass/sass/main.scss */
#LeftPane .form-control:hover {
  border: 1px solid #111;
  background-color: #222;
}
/* line 218, ../../../sass/sass/main.scss */
#LeftPane .suite-bar {
  border-left: 1px dotted #999999;
  margin-left: 10px;
}
/* line 223, ../../../sass/sass/main.scss */
#LeftPane .up .suite-bar {
  border-left: 1px none;
  margin-left: 25px;
}
/* line 228, ../../../sass/sass/main.scss */
#LeftPane .down .suite-bar {
  border-left: 1px dotted #999999;
  margin-left: 25px;
}
/* line 233, ../../../sass/sass/main.scss */
#LeftPane .suite-bar .tree-span {
  color: #999999;
}

/* line 238, ../../../sass/sass/main.scss */
.custom-menu {
  z-index: 1000;
  position: absolute;
  background-color: #dadada;
  border: 1px solid black;
  padding: 2px;
}

/* Position of row mujst be set in order to overcome dropdown z-index failing */
/* line 247, ../../../sass/sass/main.scss */
.row {
  position: relative;
}

/* drag n drop */
/* line 252, ../../../sass/sass/main.scss */
.droppable {
  height: 0px;
  overflow: hidden;
  display: block;
}

/* line 257, ../../../sass/sass/main.scss */
.dragging {
  border: 3px solid #8dc641;
}
/* line 259, ../../../sass/sass/main.scss */
.dragging .droppable {
  height: 15px;
  display: block !important;
  -webkit-transition: ease-out .25s;
  -moz-transition: ease-out .25s;
  -o-transition: ease-out .25s;
  transition: ease-out .25s;
  border: 1px dashed #dadada;
}
/* line 268, ../../../sass/sass/main.scss */
.dragging .droppable.drag-hover {
  border: 2px solid #8dc641;
  height: 34px;
  cursor: default !important;
}

/* line 275, ../../../sass/sass/main.scss */
#workspace {
  position: relative;
  z-index: 100 !important;
}
/* line 279, ../../../sass/sass/main.scss */
#workspace .form-control, #workspace .btn {
  border: 1px none !important;
  box-shadow: none !important;
}
/* line 283, ../../../sass/sass/main.scss */
#workspace .item-summary {
  height: 45px;
  border-top: 1px none;
  background-color: #efefeb;
  padding: 10px;
  overflow: hidden;
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out .5s;
}
/* line 294, ../../../sass/sass/main.scss */
#workspace .item-summary p {
  padding: 8px 0px;
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out 0.5s;
}
/* line 301, ../../../sass/sass/main.scss */
#workspace .item-summary p .btn {
  margin-left: 10px;
}
/* line 303, ../../../sass/sass/main.scss */
#workspace .case-data {
  max-height: 0px;
  overflow: hidden;
}
/* line 308, ../../../sass/sass/main.scss */
#workspace input:hover {
  border: 1px solid #cccccc !important;
}
/* line 312, ../../../sass/sass/main.scss */
#workspace input:focus {
  box-shadow: 0px 0px 5px #8dc63f !important;
}
/* line 316, ../../../sass/sass/main.scss */
#workspace .arch {
  position: relative;
  padding: 0px;
  border: 1px none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 325, ../../../sass/sass/main.scss */
#workspace .case {
  margin-left: 0px;
}
/* line 328, ../../../sass/sass/main.scss */
#workspace .step {
  margin-left: 10px;
}
/* line 332, ../../../sass/sass/main.scss */
#workspace .test-case-drag {
  cursor: move;
}
/* line 336, ../../../sass/sass/main.scss */
#workspace .onlyHover {
  width: 0px;
  overflow: hidden;
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out .5s;
}
/* line 345, ../../../sass/sass/main.scss */
#workspace .input-group-addon {
  background-color: transparent;
  border: 1px none;
  color: #cccccc !important;
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out .5s;
}
/* line 354, ../../../sass/sass/main.scss */
#workspace .input-group-addon .glyphicon {
  cursor: pointer;
}
/* line 357, ../../../sass/sass/main.scss */
#workspace .input-group-addon .glyphicon:hover {
  color: #000000 !important;
}
/* line 362, ../../../sass/sass/main.scss */
#workspace .test-expand {
  border: 1px solid #ccc;
  margin: 10px 0px;
}
/* line 366, ../../../sass/sass/main.scss */
#workspace .arch .test-expand {
  border: 1px none;
}
/* line 370, ../../../sass/sass/main.scss */
#workspace .test-expand .id {
  margin-left: 5px;
}
/* line 374, ../../../sass/sass/main.scss */
#workspace .test-expand > div > .input-group-addon, #workspace .suite-master:hover > div > .input-group-addon, #workspace .test-case:hover > div > .input-group-addon {
  background-color: #dadada;
  color: #444444 !important;
}
/* line 377, ../../../sass/sass/main.scss */
#workspace .test-expand > div > .input-group-addon .onlyHover, #workspace .suite-master:hover > div > .input-group-addon .onlyHover, #workspace .test-case:hover > div > .input-group-addon .onlyHover {
  width: auto;
  margin-left: 8px;
}
/* line 383, ../../../sass/sass/main.scss */
#workspace .test-expand > .case-data {
  max-height: 99999999px;
}
/* line 387, ../../../sass/sass/main.scss */
#workspace .summary-expand {
  height: 395px;
}
/* line 391, ../../../sass/sass/main.scss */
#workspace .case-body {
  padding: 10px 0px;
}
/* line 395, ../../../sass/sass/main.scss */
#workspace .details {
  padding-bottom: 10px;
}
/* line 399, ../../../sass/sass/main.scss */
#workspace .step-title {
  width: 49%;
  border-right: 1px solid #ccc;
}
/* line 404, ../../../sass/sass/main.scss */
#workspace .step-result {
  width: 49%;
}
/* line 408, ../../../sass/sass/main.scss */
#workspace .arch .label {
  margin-left: 3px;
}
/* line 412, ../../../sass/sass/main.scss */
#workspace .ta-scroll-window > .ta-bind {
  max-height: 150px !important;
}

/* line 417, ../../../sass/sass/main.scss */
.green {
  color: #5CB85C !important;
}

.yellow {
  color: #eea236 !important;
}

.blue {
  color: #269abc !important;
}

/* line 421, ../../../sass/sass/main.scss */
.red {
  color: #D9534F !important;
}

/* TextAngular */
/* add generic styling for the editor */
/* line 427, ../../../sass/sass/main.scss */
.ta-toolbar {
  margin-bottom: 5px;
}

/* line 431, ../../../sass/sass/main.scss */
.ta-toolbar .btn[name="h2"], .ta-toolbar .btn[name="h5"], .ta-toolbar .btn[name="h6"], .ta-toolbar .btn[name="quote"] {
  display: none;
}

/* line 435, ../../../sass/sass/main.scss */
.ta-root.focussed > .ta-scroll-window.form-control {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* line 443, ../../../sass/sass/main.scss */
.ta-editor.ta-html, .ta-scroll-window.form-control {
  min-height: 200px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

/* line 451, ../../../sass/sass/main.scss */
.ta-scroll-window.form-control {
  position: relative;
  padding: 0;
}

/* line 456, ../../../sass/sass/main.scss */
.ta-scroll-window > .ta-bind {
  height: auto;
  min-height: 200px;
  padding: 6px 12px;
}

/* line 462, ../../../sass/sass/main.scss */
.ta-editor:focus {
  user-select: text;
}

/* add the styling for the awesomness of the resizer */
/* line 467, ../../../sass/sass/main.scss */
.ta-resizer-handle-overlay {
  z-index: 100;
  position: absolute;
  display: none;
}

/* line 473, ../../../sass/sass/main.scss */
.ta-resizer-handle-overlay > .ta-resizer-handle-info {
  position: absolute;
  bottom: 16px;
  right: 16px;
  border: 1px solid black;
  background-color: #FFF;
  padding: 0 4px;
  opacity: 0.7;
}

/* line 483, ../../../sass/sass/main.scss */
.ta-resizer-handle-overlay > .ta-resizer-handle-background {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  top: 5px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 493, ../../../sass/sass/main.scss */
.ta-resizer-handle-overlay > .ta-resizer-handle-corner {
  width: 10px;
  height: 10px;
  position: absolute;
}

/* line 499, ../../../sass/sass/main.scss */
.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tl {
  top: 0;
  left: 0;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

/* line 506, ../../../sass/sass/main.scss */
.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tr {
  top: 0;
  right: 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

/* line 513, ../../../sass/sass/main.scss */
.ta-resizer-handle-overlay > .ta-resizer-handle-corner-bl {
  bottom: 0;
  left: 0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

/* line 520, ../../../sass/sass/main.scss */
.ta-resizer-handle-overlay > .ta-resizer-handle-corner-br {
  bottom: 0;
  right: 0;
  border: 1px solid black;
  cursor: se-resize;
  background-color: white;
}

/* line 528, ../../../sass/sass/main.scss */
.ta-toolbar .btn {
  font-size: 10px;
}


/* Loading*/
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes top {
    from {top:0;}
    to {top:-60%;}
}
@-webkit-keyframes bottom {
    from {bottom:0;}
    to {bottom:-60%;}
}

.loader {
    position:absolute;
    height:100%;
    width:100%;
    background-color:#cccccc;
    top:53px;
}

.loader .cont {
    width:900px;
    margin:0px auto;
}

.loader .msg h1 {
    margin-top:75px;
    text-align:center;
}

.loader .graphics {
    opacity:0;
    -webkit-transition: ease-out .25s;
    -moz-transition: ease-out .25s;
    -o-transition: ease-out .25s;
    transition: ease-out .25s;
}

.loader .gfxgogo {
    opacity:1;
}

.loading {
    height:300px;
}
.cmd {
    display:block;
    height:300px;
}

.loading h1 {
    margin-top:120px;
    text-align:center;
}

#sphere-wrapper {
    position: absolute !important;
    margin:50px auto !important;
    left:50%; top:50%;
    width: 120px !important;
    height: 120px !important;
    margin: -50px 0 0 -50px !important;
    -webkit-animation: rotate linear 3.2s infinite !important;
}

.sphere {
    position: absolute;
}
.sphere:before,
.sphere:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: #8DC63F;
}
.sphere:before {
    top: 0;
    border-radius: 999px 999px 0 0;
    -webkit-animation: top ease .8s alternate infinite;
}
.sphere:after {
    bottom: 0;
    border-radius: 0 0 999px 999px;
    -webkit-animation: bottom ease .8s alternate infinite;
    background: #004990;
}

.s-1 { top:0; right:0; bottom:0; left:0; }
.s-2 { top:10px; right:10px; bottom:10px; left:10px; }
.s-3 { top:20px; right:20px; bottom:20px; left:20px; }
.s-4 { top:30px; right:30px; bottom:30px; left:30px; }
.s-5 { top:40px; right:40px; bottom:40px; left:40px; }
.s-gold { top:50px; right:50px; bottom:50px; left:50px; }

.s-2:before,
.s-2:after {
    background: #9A8B7D;
    -webkit-animation-delay: 50ms;
}
.s-3:before,
.s-3:after {
    -webkit-animation-delay: 100ms;
}
.s-4:before,
.s-4:after {
    background: antiquewhite;
    -webkit-animation-delay: 150ms;
}
.s-5:before,
.s-5:after {
    -webkit-animation-delay: 200ms;
}
.s-gold:before,
.s-gold:after {
    background: #D9531E;
    box-shadow: 0 0 20px #D9531E;
    -webkit-animation: none;
}

.test-step div, .test-step span, .test-step input {
    z-index:99 !important;
    position:relative;
}

.test-step:hover {
    z-index:999 !important;
}

.tooltip {
    z-index:9999 !important;
    position:absolute !important;
    opacity:0.99
}

.test-step {
    opacity:0.99;
    display:block;
    z-index:99;
}